@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Cores Base */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  /* Identidade Visual Silvia Matos */
  --silvia-rose: #B76E79;   /* Ouro Rosé */
  --silvia-copper: #b87333; /* Cobre */
  --silvia-gold: #D4AF37;   /* Dourado Clássico */
  --silvia-bg: #fdfcfc;     /* Fundo Mármore Claro */
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--silvia-bg);
  font-family: 'Cinzel', serif; /* Vamos configurar a fonte depois */
}

/* Regra para sumir com as barras de rolagem feias */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--silvia-rose);
  border-radius: 4px;
}